bitsandbytes==0.42.0
transformers==4.37.2
peft==0.8.2
accelerate==0.27.2
scipy==1.12.0
einops==0.7.0
evaluate==0.4.1
trl==0.7.11
rouge_score==0.1.2
langchain==0.1.0
pypdf==4.0.1
# torch==2.0.0
openai==1.7.2
bs4==0.0.2
toml==0.10.2
tiktoken==0.6.0
tomli_w==1.0.0
langchain_community==0.0.20